* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    padding: 60px 20px;
}


.logo b {
    font-size: 30px;
    color: rgb(255, 0, 0);
}


.logo .name {
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
}

.ab b,
.sk b {
    font-size: 25px;
    text-align: 30px;
    margin-left: 600px;
    padding: 1px;
    color: rgb(255, 0, 0);
}

.logo .role {
    margin-top: 5px;
    color: #cbd5e1;
}

.logo .desc {
    margin: 30px auto;
    max-width: 440px;
    color: #94a3b8;

}

.logo .socials {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}


.logo .socials a img {
    transition: 0.3s ease;
}

.logo .socials a img:hover {
    transform: translateY(-4px);
}


.li,
.skills {
    background-color: rgb(119, 115, 141);
    border-radius: 28px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    list-style: none;
    gap: 10px;
    border-left: 6px solid black;

}

.skills li:hover,
.li li:hover {
    background-color: rgb(90, 85, 120);
    transform: translateY(-2px);
    transition: 0.3s ease;
}

.li li,
.skills li {
    margin: 6px 0;
    color: white;
    display: flex;

}


b {
    display: block;
    margin-top: 30px;
    font-size: 22px;
}

.cp {
    text-align: center;
    margin-top: 20px;
    color: #94a3b8;
}